body {
    background: url(/tugas3/images/bg8.webp);
}
#tampilan{
	background-color: rgba(255, 249, 218, 0.7);
	width: 1200px;
	height: 3010px;
	margin: auto;
	padding: 5px;
}
#header{
	background-color: white;
	height: 200px;
	width: 1200px;
	overflow: hidden;
}
#teks{
	background-color: #31511E;
	height: 23px;
	width: 1194.3px;
	overflow: hidden;
	border-style: ridge;
	border-color: white;
}
#kiri {
	background: #FFF7F1;
	height: 2770px;
	width: 1194.3px;
	float: left;
	border-style: groove;
	border-color: #31511E;
}
